<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Bhatbhateni_MVC_New_</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Member</display-name>
    <servlet-name>Member</servlet-name>
    <servlet-class>model.Member</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member</servlet-name>
    <url-pattern>/Member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDAO</display-name>
    <servlet-name>MemberDAO</servlet-name>
    <servlet-class>dao.MemberDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDAO</servlet-name>
    <url-pattern>/MemberDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueController</display-name>
    <servlet-name>IssueController</servlet-name>
    <servlet-class>controller.IssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueController</servlet-name>
    <url-pattern>/IssueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemController</display-name>
    <servlet-name>MemController</servlet-name>
    <servlet-class>controller.MemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemController</servlet-name>
    <url-pattern>/MemController</url-pattern>
  </servlet-mapping>
</web-app>